<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Tambahkan permission internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PointOfSales">
        <activity
            android:name=".EditProfile"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Profile"
            android:exported="false" /> <!-- LoginProfile jadi LAUNCHER (halaman pertama) -->
        <activity
            android:name=".LoginProfile"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterProfile"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" /> <!-- MainActivity tidak lagi jadi LAUNCHER -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Produk.ModProduk"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Produk.DataProdukActivity"
            android:exported="false" />
        <activity
            android:name=".Produk.ItemDataProduk"
            android:exported="false" />
        <activity
            android:name=".item_kategori"
            android:exported="false" />
        <activity
            android:name=".Kategori.ModKategoriActivity"
            android:exported="false" />
        <activity
            android:name=".Kategori.DataKategoriActivity"
            android:exported="false" />
        <activity
            android:name=".Cabang.ModCabangActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Cabang.DataCabangActivity"
            android:exported="false" />
        <activity
            android:name=".Pegawai.ModPegawaiActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Pegawai.DataPegawaiActivity"
            android:exported="false" />
        <activity
            android:name=".Transaksi.TransaksiActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Transaksi.HasilTransaksiActivity"
            android:exported="false" />
        <activity
            android:name=".Transaksi.LaporanActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Transaksi.DetailTransaksiActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Transaksi.RiwayatTransaksiActivity"
            android:exported="false" />
        <activity
            android:name=".Transaksi.TarikTunaiActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>